
<p id="count"></p>

<button id="increment">Increment</button>

<script type="text/javascript">
  $('increment').on('click', function () {
    new Ajax.Updater('count', '/increment');
  });
</script>
