
<p id="count">
  <%= count %>
</p>


<div id="buttons">
  <button id="increment">+1</button>
  <div class="by-amount" class="group">
    <button data-amount="2">+2</button>
    <button data-amount="3">+3</button>
    <button data-amount="4">+4</button>
  </div>
</div>

<script type="text/javascript">
  $('increment').on('click', function () {
    new Ajax.Updater('count', '/increment');
  });
  
  $('buttons').on('click', 'button[data-amount]', function (e) {
    var element = e.element();
    var amount = element.readAttribute('data-amount');
    new Ajax.Updater('count', '/increment_by/' + amount);
  });
</script>

