
<p id="count">
  <%= count %>
</p>

<button id="increment">Increment</button>

<script type="text/javascript">
  $('increment').on('click', function () {
    new Ajax.Updater('count', '/increment');
  });
</script>

<style type="text/css" media="screen">
  #count {
    font-size: 72px;
    text-align: center;
  }
  
  #increment {
    width: 100%;
    font-size: 24px;
    padding: 10px;
  }
</style>